# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
bin5
obj
obj5

# mstest test results
TestResults

# Resharper files
*.ReSharper.user
_ReSharper.*
*.csproj.user
*.suo
*.cache
*.Cache